.div-form {
    background-image: linear-gradient(to left, #318aac, blue);
    border-radius: 20px;
    display: inline-block;
    height: 650px;
    width: 550px;
    position: absolute;
    left: 450px;
    top: 20px;
}
label {
    font-size: 20px;
    font-family: "Arial Rounded MT Bold", serif;
}
input {
    height: 30px;
    width: 250px;
    position: relative;
    left: 30px;
    border-top: 1px solid #14ffe9;
    border-radius: 10px;
}
.div-name {
    position: relative;
    text-align: center;
    top: 40px;
}
.back-form {
    display: inline-block;
    bottom: 260px;
    left: 40px;
}
.back-form button {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
}
.div-name input{
    position: relative;
    left: 23px;
}
.div-imagen {
    position: relative;
    text-align: center;
    top: 50px;
}
.div-imagen input {
    position: relative;
    left: 20px;
}
.div-life {
    position: relative;
    top: 60px;
}

.div-life label {
    margin-left: 115px;

}
.div-life input {
    position: relative;
    left: 35px;
}

.div-attack {
    position: relative;
    top: 70px;
}
.div-attack label {
    margin-left: 115px;
}
.div-attack input {
    position: relative;
    left: 15px;
}
.div-defense {
    position: relative;
    top: 80px;
}
.div-defense label {
    margin-left: 115px;
}
.div-speed {
    position: relative;
    top: 90px;
}
.div-speed label{
    margin-left: 115px;
}
.div-speed input {
    position: relative;
    left: 23px;
}
.div-defense input {
    position: relative;
    left: 5px;
}
.div-height {
    position: relative;
    top: 100px;
}
.div-height label {
    margin-left: 115px;
}
.div-height input{
    position: relative;
    left: 19px;
}
.div-weight {
    position: relative;
    top: 110px;
}
.div-weight label{
    margin-left: 115px;
}
.div-weight input{
    position: relative;
    left: 18px;
}
.div-send {
    position: relative;
    top: 150px;
    display: inline-block;
    left: 250px;
}
.div-send button {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
}
.div-types-form {
    display: inline-block;
    position: relative;
    left: 50px;
    top: 150px;
}
.div-types-form select{
    height: 30px;
    border: 1px solid #14ffe9;
    border-radius: 10px;
}
.div-error-name {
    position: relative;
    top: 40px;
    margin-left: 200px;
}
.div-error-name p {
    margin: 0;
    padding: 0;
    color: red;
}
.div-error-image {
    position: relative;
    margin-left: 200px;
    top: 50px;
}
.div-error-image p {
    margin: 0;
    padding: 0;
    color: red;
}
.div-error-life {
    position: relative;
    top: 60px;
    margin-left: 200px;
}
.div-error-life p {
    margin: 0;
    padding: 0;
    color: red;
}
.div-error-attack {
    position: relative;
    top: 70px;
    margin-left: 200px;
}
.div-error-attack p {
    margin: 0;
    padding: 0;
    color: red;
}
.div-error-defense {
    position: relative;
    top: 80px;
    margin-left: 200px;
}
.div-error-defense p{
    margin: 0;
    padding: 0;
    color: red;
}
.div-error-speed {
    position: relative;
    top: 90px;
    margin-left: 200px;
}
.div-error-speed p{
    margin: 0;
    padding: 0;
    color: red;
}
.div-error-height {
    position: relative;
    top: 100px;
    margin-left: 200px;
}
.div-error-height p{
    margin: 0;
    padding: 0;
    color: red;
}
.div-error-weight {
    position: relative;
    top: 110px;
    margin-left: 200px;
}
.div-error-weight p {
    margin: 0;
    padding: 0;
    color: red;
}
