.div-paginado {
    display: inline-block;
    height: 40px;
    width: 350px;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
    bottom: 30px;
    left: 550px;
    top: 5px;
    text-align: center;
}
.div-paginado li:hover {
    transform: scale(1.15)
}
.div-paginado ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.div-paginado li {
    display: inline-block;
    position: relative;
    text-align: center;
}
.container-number {
    width: 30px;
    height: 30px;
    margin: 5px;
    background-color: #111111;
    border-radius: 50%;
    display: inline-block;
}
.container-number a{
    position: relative;
    top: 6px;
    cursor: pointer;
    color: greenyellow;
}